/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #28a745; /* Green background */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.logo {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 50px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.1s;
}
.logo:hover {
    transform: scale(1.05);
}

main {
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0; /* Remove borders */
    transition: transform 0.2s; /* Smooth transition for transform */
}

article:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

footer {
    background-color: #28a745; /* Green background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745; /* Green background */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for background color */
}

button:hover {
    background-color: #218838; /* Darker green on hover */
}
